doctype html
html
    head
        meta(charset='UTF-8')
        link(rel="stylesheet" href="//fonts.googleapis.com/css?family=Noto+Sans")
        link(rel="stylesheet" href="//code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css")
        title= title
        meta(name='viewport' content='width=device-width, initial-scale=1')

        //- facebook
        meta(property="og:site_name" content="Icotar")
        meta(property="og:type" content="website")
        meta(property="og:url" content="https://icotar.com/")
        meta(property="og:title" content="Icotar")
        meta(property="og:description" content="A free colorful icon avatar generator. Icotar generates simple, playful avatars for your app or website. Based on the lovable avatars from Yik Yak, each avatar consists of a colorful background and a recognizable symbol. All colors and icons are hand-picked from Material Design.")
        meta(property="og:image" content="https://icotar.com/static/images/facebook.png")

        //- twitter
        meta(name="twitter:card" content="summary_large_image")
        meta(name="twitter:site" content="@sixoverground")
        meta(name="twitter:title" content="Icotar")
        meta(name="twitter:description" content="Colorful Icon Avatars")
        meta(name="twitter:image" content="https://icotar.com/static/images/twitter.png")

        //- style
        link(href="/static/css/style.css" rel="stylesheet")
    body
        .container
            block content
            .footer
                p Made with <i class="icon ion-heart"></i> ︎by <a href="http://sixoverground.com">Six Overground</a>
