doctype html
html
    head
        meta(charset='UTF-8')
        link(rel="stylesheet" href="//fonts.googleapis.com/css?family=Noto+Sans")
        link(rel="stylesheet" href="//code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css")
        title= title
        meta(name='viewport' content='width=device-width, initial-scale=1')
        link(href="/static/css/style.css" rel="stylesheet")
    body
        .container
            block content
            .footer
                p Made with <i class="icon ion-heart"></i> ︎by <a href="http://sixoverground.com">Six Overground</a>
