extends layout

block content
    h1 Icotar
    h2 Colorful Icon Avatars
    p Icotar generates simple, playful avatars for your app or website. Based on the lovable avatars from Yik Yak, each avatar consists of a colorful background and a recognizable symbol. All colors and icons are hand-picked from <a href="https://material.io/">Material Design</a>.
    p Setting up Icotars is easy with a simple and free HTTP API that you can use without an account!

    h3 How to Use Icotar
    p Icotar images may be requested just like a normal image. Our HTTP-API is based on the system built by the fine folks of Gravatar.

    h4 Base Request
    p The most basic image request URL looks like this:
    code https://icotar.com/avatar/:hash
    p Where <pre>:hash</pre> is replaced with anything you like. But <strong>don't</strong> use any sensitive or personal data here! For example, here is a base URL:
    code https://icotar.com/avatar/craig

    h4 File Types
    p All avatars are served as SVG files by default. If you require a <strong>file-type extension</strong> then you can add an optional <pre>.svg</pre> extension to that URL:
    code https://icotar.com/avatar/craig.svg
    p Icotar also supports PNG files:
    code https://icotar.com/avatar/craig.png

    h4 Size
    p By default, PNG images are presented at 80px by 80px if no size parameter is supplied. You may request a specific image size, which will be dynamically delivered from Icotar by using the <pre>s=</pre> or <pre>size=</pre> parameter and passing a single pizel dimension (since Icotars are square):
    code https://icotar.com/avatar/craig.png?s=200
    p You may request images anywhere from <strong>1px up to 1024px</strong>.

    h4 Secure Requests
    p All URL requests should start with HTTPS.